
.container{
	display: flex;
}

body{
  background-color: black;
}

a{
  text-decoration:none;
}

#banner{
  flex-direction: column;
  color: #FAFAD2;
  text-align: center;
  font-family: Times New Roman; 
  padding: 1px;
}

#banner h1{
	flex:1;
	background-color:black;
	color:	#FAFAD2;
}

#banner img{
	flex:1;
}

nav{
	padding: 5px;
}

nav a{
	flex: 1;
	color: black;
	background-color: #FAFAD2;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	margin: 0 10px 0 10px;
}

#left{
	flex:1;
	color: white;
	font-family: monaco;
	text-align: center;
	font-size: 21px;
	align-content: center;
	}
	
#la img{
	flex: 1;
	filter: blur(5px);

}
	
#la img:hover{
	filter: blur(0px);

}

#right{
	flex:1;
}

#text{
	color: white;
	font-size: 22px;
}

.container img{
	flex: 1;
	padding: 8px;
	border-radius: 10px;
	margin: 0 10px 0 10px;

}

#right img:hover{
	filter: sepia(100%);

}
